    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

    <head th:replace="~{/admin/layout/_header.html}">

    </head>

    <body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a th:href="@{/admin/accounts/index}" class="logo">
                            <img src="/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
<!--                            <li class="scroll-to-section"><a th:href="@{/admin/accounts/index}" class="active">Home</a></li>-->
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
<!--                            <li class="scroll-to-section"><a href="#kids">Kid's</a></li>-->
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a th:href="@{/admin/accounts/about}">About Us</a></li>
                                    <li><a th:href="@{/admin/accounts/products}">Products</a></li>
<!--                                <li><a th:href="@{/admin/accounts/single}">Single Product</a></li>-->
                                    <li><a th:href="@{/admin/accounts/contact}">Contact Us</a></li>
                                </ul>
                            </li>
                            <li th:if="${session.username}"  class="scroll-to-section"><a th:href="@{/admin/categories/search}">Category</a></li>
                            <li th:if="${session.username}" class="scroll-to-section"><a th:href="@{/admin/products}">Product</a></li>
                            <li th:if="${session.username}" class="scroll-to-section"><a th:href="@{/admin/accounts}">Profile</a></li>
                            <li th:if="${session.username}" class="scroll-to-section"><a th:href="@{/order/list}">Orders's</a></li>
                             <li th:if="${session.username}" class="scroll-to-section"><a th:href="@{/alogoff}">LogOut</a></li>
                            <li th:if="${session.username == null}" class="scroll-to-section"><a th:href="@{/alogin}">Login</a></li>
                            <li th:if="${session.username}" class="scroll-to-section"><a th:href="@{/cart/view}">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                            <li th:if="${session.username}" class="scroll-to-section"><a>[[${session.username}]]</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

<!--    Content-->
    <div th:replace="${main}">

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">thanhlcpd04359@fpt.edu.vn</a></li>
                            <li><a href="#">16-06-2022</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Men’s Shopping</a></li>
                        <li><a href="#">Women’s Shopping</a></li>
                        <li><a href="#">Kid's Shopping</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                            <br>Design: <a href="https://www.facebook.com/ThanhBeen00" target="_parent" title="free css templates">Thanh Been</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Js-->
    <script src="/assets/js/shopping-cart-app.js"></script>
    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/accordions.js"></script>
    <script src="/assets/js/datepicker.js"></script>
    <script src="/assets/js/scrollreveal.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/imgfix.min.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="/assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
                setTimeout(function() {
                    $("."+selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

    </body>
    </html>